<%- include('partials/header'); %>
    <div class="intro_container">
        <div class="intro">
            <h1 id="intro_heading">I'm Mohammed Abdurrahman</h1>
            <p>a <span href="#">pro</span>grammer</p>
        </div>
        <img class="clouds" id="cloud1" src="images/intro/clouds.png" alt="cloud-image">
        <img class="clouds" id="cloud2" src="images/intro/clouds.png" alt="cloud-image">
        <img class="clouds" id="cloud3" src="images/intro/clouds.png" alt="cloud-image">
        <img class="clouds" id="cloud4" src="images/intro/clouds.png" alt="cloud-image">
    </div>

    <hr>

    <div class="aboutme">
        <img id="mypic" src="images/intro/my_image.png" alt="My-Picture">
        <h1>Hello.</h1>
        <p>I am a Computer science student and a web developer. I am a gym rat 🐀. I ❤️ coffee and brew my own coffee </p>
    </div>

    <hr>

    <div class="myskills">
        <h1>My skills : </h1>
        <div class="skills">
            <img src="images/skills/coding.png" alt="computer-Image">
            <div class="skills_text">
                <h2>Designing & Development</h2>
                <p >I started learning to code when i was 14 years old because I wanted to be a computer scientist. Over time, I have gained a wealth of experience in designing and coding.</p>
            </div>
        </div>
        <div class="skills">
            <img src="images/skills/car.png" alt="Car-image">
            <div class="skills_text">
                <h2>Driving </h2>
                <p >My best skill is driving. It thrills me and makes me feel magnificent. Driving with people can be so much fun, but sometimes driving alone allows me to be myself.</p>    
            </div>
        </div>
    </div>

    <hr>

    <div class="in_touch"> 
        <h1>Get in touch</h1>
        <h2>If you love to Driving as much as I do.</h2>
        <p>Love driving as much as i do ?Let's go for a long drive! We can code whie driving!!</p>
        <br>
        <br>
        <a class="styled_button" href="mailto:abdurrahmaan11265@gmail.com">CONTACT ME</a>
    </div>

    <div class="footer">
        <div class="footer_images">
            <a href="https://www.instagram.com/mohammed__abdurrahmaan/?hl=en"><img src="images/contact/instagram.png" alt="Instagram"></a>
            <a href="mailto:abdurrahmaan11265@gmail.com"><img src="images/contact/mail.png" alt="Gmail"></a>

            <p>© 2022 Mohammed Abdurrahman @ Sami industries.</p>
        </div>
    </div>


<%- include('partials/footer'); %>